.skills-title{
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.skill-item {
    border-radius: 15px;
    text-align: center;
    padding: 8px;
    margin: 6px;
    min-width: 100px;
}

.skill-item i, .skill-item .fas{
    font-size: 40px;
    margin-bottom: 10%;
}

.resume .resume-item h5 img {
    height: 15px; 
    margin-bottom: 3px;
}

.portfolio-info span {
    margin: 0 1px;
    border-radius: 15px;
    background: rgba(5, 99, 187, 0.25);
    padding: 5px 10px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  #downloadResume{
    color: #0563bb;
    border-color: #0563bb;
  }

  #downloadResume:hover{
    background-color: #0563bb;
    color: white;
  }